/* 
////////////////////////
- Font size system (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */

/* 
//////////////////////
- Spacing system (px):
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

section {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 3.2rem;
}

main section:last-child {
  margin-bottom: 9.6rem;
}

.container {
  max-width: 150rem;
  margin: 0 auto;
}

h2 {
  font-size: 5.2rem;
  font-weight: 500;
  padding: 4.8rem 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.485);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.4s;
}
