/* rem and em do not depend on html font-size in media queries! Instead, 1rem = 1em = 16px*/

/* ********************** */
/* BELOW 1632px (Medium desktops) */
/* ********************** */
@media (max-width: 102em) {
  .page-footer {
    padding: 0 9.6rem;
  }
}

/* ********************** */
/* BELOW 1376px (Smaller desktops) */
/* ********************** */

@media (max-width: 86em) {
  .header-container {
    padding: 0;
  }
  .hero-container {
    max-width: 120rem;
  }

  .banner {
    width: 71%;
  }

  .banner .model {
    background-size: auto 118%;
    width: 167%;
    height: 92vh;
    left: -84px;
  }

  .left-box-heading {
    font-size: 4rem;
  }
  .feature-box-hidden {
    width: 30rem;
  }
  .hidden-list {
    font-size: 1.4rem;
    letter-spacing: 0.9;
  }
  .hidden-list-flex span .big-orange-font {
    font-size: 2rem;
  }

  .prize-box {
    width: 72%;
  }

  .footer-box-input {
    font-size: 1.4rem;
  }

  .footer-upper-container {
    padding-right: 2.4rem;
  }

  .about-icon {
    font-size: 2.4rem;
  }
  .footer-upper-span {
    font-size: 1.4rem;
  }
}

/* ********************** */
/* BELOW 1136x (Smaller desktops) */
/* ********************** */

@media (max-width: 71em) {
  html {
    /*  9px/16px = 0.5625  */
    font-size: 56.25%;
  }
  .hero-container {
    gap: 0;
  }

  .hero-left-box {
    justify-content: start;
  }

  .banner {
    width: 50%;
  }

  .banner .slider {
    top: 49%;
  }

  .banner .model {
    height: 51vh;
    left: -57px;
  }

  .big-orange-font {
    font-size: 2rem;
  }
  .feature-box-text {
    font-size: 1.6rem;
  }

  .feature-box-hidden {
    width: 25rem;
  }

  .opinion-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 6.4rem;
    /* overflow: hidden; */
  }

  .opinion-grid > .opinion-container:nth-child(n + 13) {
    display: none;
  }

  .prize-box {
    width: 80%;
  }

  .footer-upper-container {
    padding: 4.8rem 2.4rem 0;
  }

  .footer-upper-content {
    gap: 1.8rem;
  }

  .footer-upper-list {
    gap: 1rem;
  }

  .footer-upper-item {
    flex-direction: column;
    gap: 0.4rem;
  }

  .footer-upper-span {
    font-size: 1.2rem;
    text-align: center;
  }

  .footer-grid-3-cols-list {
    font-size: 1.3rem;
  }

  .modal-opinion-window {
    width: 90%;
    padding: 4.8rem;
  }
  .img-testimonial {
    width: 100%;
  }
}

/* ********************** */
/* BELOW 928px (Smaller desktops) */
/* ********************** */

@media (max-width: 58em) {
  .header-container {
    display: none;
  }

  .section-hero {
    height: 100vh;
  }

  .sticky {
    width: 0;
    background-color: inherit;
    box-shadow: none;
    /* display: none; */
  }

  .hamburger-menu-btn {
    display: block;
  }

  .hamburger-open {
    display: flex;
  }

  .company-span-upper {
    top: -49px;
    left: -50px;
  }

  .company-span-lower {
    top: -22px;
    left: -62px;
  }

  .header-nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-left-box {
    margin-top: 3.2rem;
  }

  .left-box-heading {
    font-size: 5.2rem;
  }

  .banner {
    width: 110%;
  }

  .banner .slider {
    top: -59%;
    width: 160px;
    height: 200px;
  }

  .banner .model {
    left: -194px;
    display: none;
  }

  @keyframes autoRun {
    from {
      transform: perspective(1000px) rotateX(-8deg) rotateY(0deg);
    }
    to {
      transform: perspective(1000px) rotateX(-8deg) rotateY(360deg);
    }
  }

  .about-grid {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .grid-left-box {
    width: 50%;
  }
  .about-title {
    position: absolute;
    top: 25%;
    left: 51%;
    font-size: 2.4rem;
  }
  .about-information {
    gap: 0.4rem;
  }
  .about-description {
    position: absolute;
    top: 33%;
    left: 51%;
    font-size: 1.4rem;
  }

  .offer-grid {
    gap: 2.4rem;
  }

  .feture-box-wide {
    height: 200px;
  }
  .feature-box {
    width: 15rem;
    height: 290px;
  }

  .feature-box-hidden {
    width: 20rem;
    height: 100%;
  }

  .hidden-list-flex {
    align-items: start;
  }

  .box-header {
    margin-bottom: 2.4rem;
  }
  .box-list {
    gap: 1rem;
    font-size: 1.4rem;
  }
  .about-icon {
    font-size: 2.4rem;
  }

  .course-box::after {
    top: 7%;
    right: -17%;
    padding: 0.8rem 6.4rem;
  }

  .footer-company-name a {
    font-size: 2.4rem;
  }
  .footer-info-box {
    padding-left: 0;
  }
  .grid-3-cols {
    gap: 2rem;
  }
  .footer-grid-3-cols-title {
    font-size: 2rem;
  }
  .footer-grid-3-cols-list {
    font-size: 1rem;
  }
  .footer-box-input::placeholder {
    font-size: 0.8rem;
  }
}

/* ********************** */
/* BELOW 704px (Smaller Tablets) */
/* ********************** */

@media (max-width: 44em) {
  .left-box-heading {
    font-size: 4.6rem;
    text-align: center;
  }

  .banner .slider {
    height: 180px;
  }

  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(200px);
  }

  @keyframes autoRun {
    from {
      transform: perspective(1000px) rotateX(-11deg) rotateY(0deg);
    }
    to {
      transform: perspective(1000px) rotateX(-11deg) rotateY(360deg);
    }
  }
  .about-title {
    position: absolute;
    top: 0;
    left: 51%;
    font-size: 2.4rem;
    text-align: center;
    line-height: 1.2;
  }
  .about-description {
    position: absolute;
    top: 15%;
    left: 51%;
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .about-info {
    font-size: 1.4rem;
    gap: 0.4rem;
  }
  .big-orange-font {
    font-size: 1.8rem;
  }

  .section-offer {
    padding-bottom: 0;
  }
  .section-wrapper {
    width: 100%;
  }

  .offer-grid {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 80vh;
  }
  .feature-box-wide {
    width: 100%;
    flex-direction: column;
    position: absolute;
  }
  .box-1 {
    top: 0;
    left: 0;
  }
  .box-2 {
    top: 20%;
    left: 0;
  }
  .box-3 {
    top: 40%;
    left: 0;
  }
  .box-4 {
    top: 60%;
    left: 0;
  }

  .feature-box {
    width: 100%;
    height: 15%;
    flex-direction: row;
    justify-content: start;
    padding: 2.4rem 3.2rem;
    border-radius: 1rem;
    border: 2px solid #a7978b;
  }

  .feature-1:hover,
  .feature-1:active,
  .feature-2:hover,
  .feature-2:active,
  .feature-3:hover,
  .feature-3:active,
  .feature-4:hover,
  .feature-4:active {
    /* border: 2px solid #a7978b; */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
  .feature-1:hover,
  .feature-1:active,
  .feature-3:hover,
  .feature-3:active {
    border-left: 2px solid #a7978b;
  }
  .feature-2:hover,
  .feature-2:active,
  .feature-4:hover,
  .feature-4:active {
    border-right: 2px solid #a7978b;
  }

  .feature-box-icon {
    padding: 0;
  }
  .feature-box-text {
    flex-direction: row;
    gap: 0.8rem;
    font-size: 1.2rem;
  }
  .feature-box-hidden {
    border: 2px solid #f8d8bd;
    background-color: #fdf2e9;
    z-index: 1;
    flex-direction: column;
    width: 100%;
    padding: 2.4rem;
    justify-content: center;

    opacity: 1;
    height: 135px;
    transition: all 0.5s ease-in-out;
  }

  .feature-box:active + .feature-box-hidden {
    height: 0px;
    opacity: 0;
  }

  .hidden-left,
  .hidden-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: none;
  }

  .opinion-grid {
    width: 100%;
  }
  .opinion-container {
    width: 100%;
    height: 100%;
  }
  .opinion-box {
    width: 100%;
    height: 100%;
  }
  .opinion-box img {
    width: 100%;
    height: 100%;
  }

  .course-grid-2-cols {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .prize-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .course-box::after {
    top: 8%;
    right: -10%;
  }

  .page-footer {
    padding: 0 2.4rem;
  }
  .footer-upper-container {
    width: 51%;
    height: 270px;
  }
  .footer-upper-item {
    flex-direction: row;
  }
  .footer-upper-span {
    font-size: 1rem;
  }

  .footer-info {
    height: 350px;
  }

  .footer-info-box {
    padding: 2.4rem;
    display: grid;
    grid-template-rows: repeat(1fr 20% 20%);
    grid-template-areas:
      "info"
      "email"
      "social";
  }
  .footer-box-data {
    grid-area: email;
    position: absolute;
    bottom: 20%;
    left: 20%;
    width: 80%;
  }
  .footer-box-input::placeholder {
    font-size: 0.9rem;
  }
  .grid-3-cols {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  .rights-and-socials {
    grid-area: social;
    position: absolute;
    bottom: 5%;
    left: 20%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 30px;
  }
  .socials-box {
    height: 100%;
    display: flex;
    justify-content: end;
  }
  .socials-box-icon {
    font-size: 2rem;
  }
  .footer-grid-box {
    gap: 0.6rem;
  }
  .footer-grid-3-cols-list {
    gap: 0.2rem;
  }
}

/* ********************** */
/* BELOW 480px (Smaller Tablets) */
/* ********************** */

@media (max-width: 30em) {
  html {
    /*  8px/16px = 0.5 = 50% */
    font-size: 50%;
  }

  .left-box-description {
    text-align: center;
  }

  .hero-rigth-box {
    display: flex;
    justify-content: center;
  }
  .banner {
    width: 100%;
    display: flex;
  }

  .banner .slider {
    height: 150px;
    width: 120px;
    left: calc(50% - 60px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(-140px);
  }

  .section-about .container .section-wrapper {
    padding: 0 1.2rem;
  }
  .about-title {
    font-size: 1.8rem;
  }
  .about-description {
    font-size: 1rem;
  }
  .about-data-category {
    font-size: 1.2rem;
  }
  .about-info {
    font-size: 0.9rem;
  }
  .about-info .big-orange-font {
    font-size: 1.4rem;
  }

  .feature-box {
    padding: 2rem;
  }
  .feature-box-text {
    font-size: 0.9rem;
  }
  .feature-box-text .big-orange-font {
    font-size: 1.4rem;
  }

  .course-box::after {
    top: 8%;
    right: -14%;
  }

  .page-footer {
    margin-bottom: 4.8rem;
  }
  .footer-upper-container {
    padding: 4.8rem 1.2rem;
  }
  .footer-upper-item {
    flex-direction: column;
  }
  .about-icon {
    font-size: 1.6rem;
  }
  .footer-upper-span {
    font-size: 0.9rem;
  }
  .footer-box-button {
    font-size: 1.4rem;
    padding-left: 0;
  }
  .rights-box {
    font-size: 0.8rem;
  }
  .modal-opinion-window {
    padding: 1.2rem;
  }
  .btn-close-modal {
    top: -2px;
    right: 2px;
    font-size: 1.8rem;
  }
}
