/* 
////////////////////////
- Font size system (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */

/* 
//////////////////////
- Spacing system (px):
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ////////////////////// */
/* HEADER AND NAVIGATION*/

.section-header {
  height: 100vh;
  width: 100%;
}

.header {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #fdf2e9;
  /* width: 100%; */
  padding: 0 4.8rem;
}

.header-container {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  position: relative;
}

.header-company-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 2.4rem;
  position: relative;
}

.company-name a {
  color: #e67e22;
  text-shadow: 2px 1px 0px #555;
}

.company-span-upper {
  position: absolute;
  top: -2.5rem;
  left: 0;
  animation: showFromRight 2s ease-in-out;
}
@keyframes showFromRight {
  0% {
    transform: translateX(-10rem);
    color: #333;
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.company-span-lower {
  position: absolute;
  top: 0;
  left: -1rem;
  animation: showFromLeft 2s ease-in-out;
}
@keyframes showFromLeft {
  0% {
    transform: translateX(10rem);
    color: #333;
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.header-nav-list {
  display: flex;
  gap: 4.6rem;
  list-style-type: none;
  align-items: center;
  padding: 0.4rem;
}

.header-nav-link:link,
.header-nav-link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3;
}

.header-nav-link:hover,
.header-nav-link:active {
  color: #cf711f;
  border-bottom: 2px solid #cf711f;
}

.header-nav-link.nav-cta-btn:link,
.header-nav-link.nav-cta-btn:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  color: #fff;
  border-radius: 12px;
}

.header-nav-link.nav-cta-btn:hover,
.header-nav-link.nav-cta-btn:active {
  background-color: #cf711f;
  border-bottom: none;
}

/* Sticky navigation */
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.058);
}

/* ////////////////////// */
/* Mobile Navigation*/

.header-mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu-btn {
  border: none;
  font-size: 5rem;
  background: none;
  cursor: pointer;
  z-index: 99;
  display: none;

  position: fixed;
  top: 0;
  right: 0;
}

.hamburger-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

@keyframes slideInOpacityUp {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.hamburger-menu-container {
  position: fixed;
  right: 0;
  max-width: 300px;
  height: 45vh;
  padding: 96px 15px 0 15px;
  border-bottom-left-radius: 20px;
  box-shadow: -1px 1px 6px hsla(0, 0%, 0%, 0.21);

  background-color: #fefefe;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 98;
}

/* ////////////////////// */
/* SECTION HERO*/

.section-hero {
  background-color: #fdf2e9;
  margin-top: 0px;
  padding: 4.8rem 0 9.6rem;
  overflow: hidden;
  height: calc(100vh - 9.6rem);
  display: flex;
  justify-content: center;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14.2rem;
  padding: 0 3.2rem;
  position: relative;
}

.hero-left-box {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-box-heading {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}

.left-box-heading span {
  font-size: 6.2rem;
  color: #e67e22;
}

.left-box-description {
  margin-bottom: 4.8rem;
}

.btn {
  display: inline-block;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  transition: all 0.3s;
  position: relative;
}

.hero-left-box .btn-buy-course {
  padding: 2.4rem 4.8rem;
}

.btn-buy-course {
  animation: pulse 3s ease-out infinite;
}

.btn-buy-course:link,
.btn-buy-course:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn-buy-course:hover,
.btn-buy-course:active {
  background-color: #cf711f;
}

.btn-buy-course:hover .snippet {
  opacity: 1;
  visibility: visible;
}

.snippet {
  /* width: 120px; */
  background-color: rgba(119, 119, 119, 0.452);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;

  border-radius: 6px;
  padding: 4px 12px;
  position: absolute;
  z-index: 1;
  bottom: -80%;
  left: 46%;
  margin-left: -60px;

  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.snippet::after {
  content: "";
  position: absolute;
  bottom: 99%;
  left: 50%;
  rotate: 180deg;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(119, 119, 119.652) transparent transparent transparent;
}

/* ////////////////////// */
/* SECTION HERO - right SLIDER*/

.hero-right-box {
  top: 0;
  right: 20%;
  animation: sattleDown 4s ease;
}

@keyframes sattleDown {
  0% {
    transform: translateY(-50rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.banner {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 35s linear infinite;
  z-index: 2;
}
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-15deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-15deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(300px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 2px #555;
}

.banner .model {
  background-image: url(../img/etykiet_popr_2.png);
  background-repeat: no-repeat;
  background-size: auto 130%;
  background-position: top center;
  width: 100%;
  height: 84vh;
  position: absolute;
  bottom: -21.8rem;
  left: 0;
  z-index: 1;
}

/* ////////////////////// */
/* SECTION ABOUT*/

.section-heading {
  text-align: center;
  font-size: 5.2rem;
}

.about-grid {
  display: grid;
  grid-template-columns: 34fr 66fr;
  gap: 3.2rem;
}

.grid-left-box img {
  width: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.flex-right-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.about-title {
  font-size: 3rem;
  font-weight: 500;
  color: #888;
}

.about-information {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.about-info {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1;
}

.about-info span a:link,
.about-info span a:visited {
  text-decoration: none;
}

.about-info span a:hover,
.about-info span a:active {
  color: #cf711f;
  border-bottom: 2px solid #cf711f;
}

.about-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.about-data-category {
  font-weight: 500;
}

.big-orange-font {
  font-size: 3rem;
  color: #e67e22;
  font-weight: 500;
}

.about-description {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  padding-left: 3.2rem;
}

/* ////////////////////// */
/* SECTION OFFER*/

.section-offer {
  border-top: 1px solid #eee;
}

.section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
}

.offer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  row-gap: 4.8rem;
  position: relative;
}

.feature-box-wide {
  display: flex;
  width: 60rem;
  /* border: 2px solid transparent; */
}

.box-1,
.box-3 {
  flex-direction: row-reverse;
}

.feature-box {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 4.8rem 3.2rem;
  border: 2px solid #a7978b;
  border-radius: 1rem;
  /* animation: pulse 2s infinite; */
}

.feature-1:hover,
.feature-3:hover {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #cf711f;
}

.feature-1:hover .feature-box-icon,
.feature-3:hover .feature-box-icon {
  background-color: #fff;
}

.feature-1:hover .big-orange-font,
.feature-3:hover .big-orange-font {
  color: #fff;
}

.feature-2:hover .feature-box-icon,
.feature-4:hover .feature-box-icon {
  background-color: #fff;
}

.feature-2:hover .big-orange-font,
.feature-4:hover .big-orange-font {
  color: #fff;
}

.feature-2:hover,
.feature-4:hover {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #cf711f;
}

.feature-box:hover + .feature-box-hidden {
  display: flex;
  /* opacity: 1; */
  /* width: 40rem; */
}

.feature-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  padding: 1.6rem;
  background-color: #f8d8bd;
  color: #e67e22;
  border-radius: 50%;
  animation: pulse 3s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(248, 216, 189, 0.857);
  }
  30% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(248, 216, 189, 0.711);
  }
  60% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(248, 216, 189, 0.353);
  }
  100% {
    transform: scale(0.9);
  }
}

.feature-box:hover .feature-box-icon {
  animation-play-state: paused;
}

.feature-box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  font-weight: 500;
}

.feature-box-hidden {
  width: 40rem;
  border: 2px solid #f8d8bd;
  border-radius: 1rem;
  display: none;
  /* opacity: 0; */
  padding: 4.8rem 2.4rem;
  /* display: flex; */
  align-items: center;
  /* transition: all 0.3s ease-in-out; */
  /* transform-origin: center right; */
}

.hidden-left {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.hidden-right {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hidden-list {
  font-size: 1.8rem;
  line-height: 1.4;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.hidden-list-flex {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

/* ////////////////////// */
/* SECTION OPINION*/

.section-opinion {
  background-color: #fdf2e9;
}

.opinion-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3.2rem;
}

.opinion-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opinion-box {
  border-radius: 50%;
  border: 3px solid transparent;
  background-color: #ccc;
  position: relative;
}

.last-opinion-box {
  border-radius: 50%;
  background-color: #ccc;
  height: 100%;
  width: 100%;

  border: 3px solid transparent;
  background-color: #ccc;
  position: relative;
}

.last-opinion-box span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.8rem;
}

.last-opinion-box:hover {
  border: 3px solid #cf711f;
}

.last-opinion-box:hover .opinion-name {
  display: block;
}

.opinion-box:hover {
  border: 3px solid #cf711f;
  cursor: pointer;
}

.opinion-box:hover .opinion-name {
  display: block;
}

.opinion-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.4rem;
  font-weight: 500;
  color: #cf711f;
  text-shadow: 1px 1px 1px #444;
  text-transform: uppercase;
  display: none;
}

/* ////////////////////// */
/* SECTION OPINION*/

.course-grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  font-size: 1.8rem;
}

.lesson-box {
  justify-self: end;
  border: 2px solid #fdf2e9;
}

.course-box {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.course-box::before {
  content: "🥇";
  font-size: 3.5rem;
  position: absolute;
  top: 0%;
  right: -0.6%;
}

.course-box::after {
  font-size: 1.4rem;
  color: #222;
  position: absolute;
  top: 5.5%;
  right: -10%;

  content: "best price";
  text-transform: uppercase;
  rotate: 45deg;
  background-color: #ffd43b;
  padding: 0.8rem 4.8rem;
  font-weight: 600;
}

.prize-box {
  width: 60%;
  border-radius: 10px;
  padding: 4.6rem;
}

.box-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.prize-box-header {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 3.2rem;
  color: #e67e22;
  text-shadow: 2px 1px 0px #555;
}

.prize-box-prize {
  font-size: 6.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: #333;
  line-height: 1;
}

.prize-box-prize span {
  font-size: 3.2rem;
  font-weight: 400;
}

.prize-box-description {
  font-size: 1.6rem;
  color: #888;
}

.prize-box-description strong {
  color: #555;
}

.box-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style-type: none;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.prize-box-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

/* ////////////////////// */
/* FOOTER */

.page-footer {
  padding-top: 4.6rem;
  border-top: 1px solid #eee;
  width: 100%;
  color: #555;
  font-size: 1.8rem;
  margin-bottom: 9.6rem;
}

.page-footer .container {
  position: relative;
}

.footer-info {
  width: 100%;
  margin: 4.8rem;
  background-color: #eea564;
  border-radius: 20px;
  /* height: 200px; */
  display: grid;
}

.footer-info-box {
  justify-self: end;
  width: 70%;
  padding: 4.8rem;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer-box-data {
  /* font-size: 3rem; */
  border-radius: 80px;
  overflow: hidden;
  border: 2px solid #fff;

  display: flex;
  position: relative;
}

.input-emphasize {
  border-radius: 80px;
  animation: pulse 3s ease-out infinite;
}

.footer-box-input {
  width: 60%;
  height: 100%;
  padding: 1.4rem;
  color: #fff;
  background-color: inherit;
  border: none;
  font-size: 1.8rem;
}

.footer-box-input:focus {
  outline: none;
}

.footer-box-input::placeholder {
  color: rgba(255, 255, 255, 0.604);
}

.footer-box-button {
  width: 40%;
  height: 100%;
  padding: 1.4rem;
  background-color: #fff;
  border: none;
  color: #e67e22;
  text-shadow: 2px 1px 0px #555;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.footer-box-button:hover {
  color: #fff;
  background-color: #cf711f;
  cursor: pointer;
}

.footer-box-button:hover + .footer-absolute-circle {
  background-color: #cf711f;
  cursor: pointer;
}

.footer-absolute-circle {
  position: absolute;
  right: 40%;
  transform: translate(50%, 0);
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 50%;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 4.8rem;
}

.footer-grid-box {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.footer-grid-3-cols-title {
  color: #45260a;
  font-weight: 600;
  font-size: 2.4rem;
}

.footer-grid-3-cols-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
}

.rights-and-socials {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-top: 1px solid #fff;
}

.rights-box {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.415);
}

.socials-box-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.socials-box-div {
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.socials-box-div:hover {
  border: 2px solid #555;
  background-color: #fff;
}

.socials-box-div:hover .facebook {
  color: #1877f2;
}

.socials-box-div:hover .youtube {
  color: #ff0000;
}

.socials-box-icon {
  font-size: 3.2rem;
  color: rgba(255, 255, 255, 0.804);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}

.footer-upper-container {
  position: absolute;
  top: -48px;
  left: 0;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #fdf2e9;
  padding: 4.8rem;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
}

.footer-upper-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-company-name a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.2rem;
  font-weight: 600;
  gap: 0.4rem;
}

.phone-emphasize {
  border-radius: 10px;
  padding: 8px;
  animation: pulse 3s ease-out infinite;
  color: #e67e22;
  text-shadow: 1px 1px 0px #555;
}

.footer-upper-list {
  color: #45260a;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-upper-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* ////////////////////// */
/* MODAL OPINION WINDOW */

.modal-opinion-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f3f3;
  padding: 50px 60px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.299);
  z-index: 102;
  transition: all 0.3s;
}

.btn-close-modal {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 4.8rem;
  border: none;
  background: none;
  color: #888;
}

.btn-close-modal:hover {
  cursor: pointer;
  color: #000;
}

/* 
////////////////////////
- Font size system (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */

/* 
//////////////////////
- Spacing system (px):
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
